
:root {
    
    /*Info: les couleurs par default definis dans le design */
    --primary-color: #00A9FF;
    --secondary-color: #89CFF3;
    --thernery-color: #ADBAFF;
    --title-color: #443434;
    --white: #fff;

    /* Info: les tailles par default definis dans le design */
    --size-title: 4.8rem;
    --size-texte: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

